version: '3'

services:
  workspace:
    build:
      context: ./workspace
    environment: 
      - CACHE_ENGINE=redis
      - HASHER_ENGINE=hashids
      - PROJECT_PATH=${PROJECT_PATH}
    working_dir: ${PROJECT_PATH}
    command: >-
      godev
      --watch "${PROJECT_PATH}/src"
      --rate "2s"
      --dir "${PROJECT_PATH}/src/cmd/http"
      --output "../../../.build/weeny"
    volumes: 
    - ${PROJECT_PATH}/.build/_tmp_go:/go/pkg/mod/cache
    - ${PROJECT_PATH}:${PROJECT_PATH}
    ports:
      - "8080:8000"
    networks: 
      - local
  
  redis:
    image: "redis:alpine"
    networks: 
      - local

networks: 
  local: