version: '3'

services:
  application:
    image: golang:1.12
    environment: 
      - USE_REDIS=true
    working_dir: /project/src
    command: sh -c "go mod tidy && go mod vendor && go build -o ../.build/weeny cmd/http/main.go && ../.build/weeny"
    volumes: 
    - ${PROJECT_PATH}/.build/_tmp_go:/go
    - ${PROJECT_PATH}:/project
    ports:
      - "8080:8000"

  redis:
    image: "redis:alpine"